<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head> 
    <meta charset="UTF-8"/> 
    <title th:text="${organization.organizationName}+'叛忍'">欢迎</title>
</head>
<style>
.table_slider {border: 1px #EDEDED solid;margin: 5px 0;}
.table_slider {border-collapse: collapse;}
.table_slider th {height: 35px;background: #fafafa;color: #a5a5a5;text-align: center;vertical-align: middle;overflow: hidden;border-left: none !important;border-bottom: 1px solid #ededed;}
.table_slider td, .table_slider th {border: 1px solid #EDEDED;}
th, td {font-weight: normal;text-align: left;}
.table_slider td {vertical-align: top;}
.table_slider td {text-align: center;vertical-align: middle;border-bottom: 1px solid #EDEDED;height: 46px;}
.text-center{text-align: center;}
.red{color: red;}
.blue{color: blue;}
</style>
<body>
<div th:replace="common/top::top_bar"></div> 
<a href="" th:href="@{/organization/index/}+${organization.organizationId}+'/'">组织详情</a>>
<a href="" th:href="@{/activity/list/}+${organization.organizationId}+'/'">活动列表</a>>
叛忍<br/>
<input type="hidden" th:value="${organization.organizationId}" id="organizationId"/>
	<table width="1000" class="table_slider">
        <tbody>
        <tr>
            <th width="120" scope="col">活动日期</th>
            <th width="120" scope="col">成员名称</th>
            <th width="80" scope="col">第一场</th>
            <th width="80" scope="col">难度</th>
            <th width="50" scope="col">伤害</th>
            <th width="80" scope="col">第二场</th>
            <th width="80" scope="col">类型</th>
            <th width="50" scope="col">伤害</th>
            <th width="80" scope="col">打分</th>
            <th width="80" scope="col">操作</th>
        </tr>
        <tr style="height:10px;"th:each="ninja,ninjaStat : ${ninjaList}">
            <td>
                <p th:text="${#dates.format(activity.activityDate,'yyyy-MM-dd')}"></p>
            </td>
            <td>
                <p th:text="${ninja.memberNick}"></p>
            </td>
            <td>
                <select name="firstDo" th:id="'firstDo_'+${ninja.joinId}">
                    <option th:selected="${ninja.firstDo == 0}" value="0">未参加</option>
                    <option th:selected="${ninja.firstDo == 1}" value="1">已参加</option>
                </select>
            </td>
            <td>
                <select name="firstType" th:id="'firstType_'+${ninja.joinId}">
                    <option th:selected="${ninja.firstType == 0}" value="0">普通</option>
                    <option th:selected="${ninja.firstType == 1}" value="1">困难</option>
                </select>
            </td>
            <td>
                <input type="text" style="width:20px;" th:value="${ninja.firstHarm}" th:id="'firstHarm_'+${ninja.joinId}"/>
            </td>
            <td>
                <select name="secondDo" th:id="'secondDo_'+${ninja.joinId}">
                    <option th:selected="${ninja.secondDo == 0}" value="0">未参加</option>
                    <option th:selected="${ninja.secondDo == 1}" value="1">已参加</option>
                </select>
            </td>
            <td>
                <select name="secondType" th:id="'secondType_'+${ninja.joinId}">
                    <option th:selected="${ninja.secondType == 0}" value="0">普通</option>
                    <option th:selected="${ninja.secondType == 1}" value="1">困难</option>
                </select>
            </td>
            <td>
                <input type="text" style="width:20px;" th:value="${ninja.secondHarm}" th:id="'secondHarm_'+${ninja.joinId}"/>
            </td>

            <td>
                <input type="text" style="width:20px;" th:value="${ninja.score}" th:id="'score_'+${ninja.joinId}"/>
            </td>
            <td>
                <p><input type="button" value="保存" th:onclick="'save_ninja('+${ninja.joinId}+');'" /></p>
            </td>
        </tr>   
        </tbody>
	</table>

</body>
<script type="text/javascript">
var path=$("#path").val();
function save_ninja(joinId){
    var firstDo = $("#firstDo_"+joinId).val();
    var firstType = $("#firstType_"+joinId).val();
    var firstHarm = $("#firstHarm_"+joinId).val();
    var secondDo = $("#secondDo_"+joinId).val();
    var secondType = $("#secondType_"+joinId).val();
    var secondHarm = $("#secondHarm_"+joinId).val();
    var score = $("#score_"+joinId).val();
    var url = path+"activity/updateNinja"
	$.ajax({
		url:url,
		data:{joinId:joinId,firstDo:firstDo,firstType:firstType,firstHarm:firstHarm,secondDo:secondDo,secondType:secondType,
            secondHarm:secondHarm,score:score},
		type:"post",
		dataType:"text",
		success:function(data){
			if(data && data == 1){
				alert("更新成功!");
				window.location.reload();
			}
		},
		error:function(){
			alert("系统繁忙,修改失败,请稍后重试!");
		}
	});
}
$(function(){

});
</script>
</html>