<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head> 
    <meta charset="UTF-8"/> 
    <title th:text="${organization.organizationName}+'组织争霸'">欢迎</title>
    <script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js" data-th-src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../static/My97DatePicker/WdatePicker.js" data-th-src="@{/My97DatePicker/WdatePicker.js}"></script>
</head> 
<style>
.table_slider {border: 1px #EDEDED solid;margin: 5px 0;}
.table_slider {border-collapse: collapse;}
.table_slider th {height: 35px;background: #fafafa;color: #a5a5a5;text-align: center;vertical-align: middle;overflow: hidden;border-left: none !important;border-bottom: 1px solid #ededed;}
.table_slider td, .table_slider th {border: 1px solid #EDEDED;}
th, td {font-weight: normal;text-align: left;}
.table_slider td {vertical-align: top;}
.table_slider td {text-align: center;vertical-align: middle;border-bottom: 1px solid #EDEDED;height: 46px;}
.text-center{text-align: center;}
.red{color: red;}
.blue{color: blue;}
</style>
<body>
<div th:replace="common/top::top_bar"></div> 
<a href="" th:href="@{/organization/index/}+${organization.organizationId}+'/'">组织详情</a>>
<a href="" th:href="@{/activity/list/}+${organization.organizationId}+'/'">活动列表</a>>
组织争霸<br/>
<input type="hidden" th:value="${organization.organizationId}" id="organizationId"/>
	<table width="1000" class="table_slider">
        <tbody>
        <tr>
            <th width="120" scope="col">活动日期</th>
            <th width="120" scope="col">成员名称</th>
            <th width="80" scope="col">类型</th>
            <th width="80" scope="col">16进8</th>
            <th width="50" scope="col">胜场</th>
            <th width="80" scope="col">8进4</th>
            <th width="50" scope="col">胜场</th>
            <th width="80" scope="col">半决赛</th>
            <th width="50" scope="col">胜场</th>
            <th width="80" scope="col">决赛</th>
            <th width="50" scope="col">胜场</th>
            <th width="80" scope="col">打分</th>
            <th width="80" scope="col">操作</th>
        </tr>
        <tr style="height:10px;"th:each="conques,conquesStat : ${conquesList}">
            <td>
                <p th:text="${#dates.format(activity.activityDate,'yyyy-MM-dd')}"></p>
            </td>
            <td>
                <p th:text="${conques.memberNick}"></p>
            </td>
            <td>
                <p th:text="${conques.conType==0?'本服':'跨服'}"></p>
            </td>
            <td >
                <select name="firstSession" th:id="'firstSession_'+${conques.joinId}">
                    <option th:selected="${conques.firstSession == 0}" value="0">未参加</option>
                    <option th:selected="${conques.firstSession == 1}" value="1">已参加</option>
                </select>
            </td>
            <td >
                <input type="text" style="width:20px;" th:value="${conques.firstNum}" th:id="'firstNum_'+${conques.joinId}"/>
            </td>
            <td >
                <select name="secondSession" th:id="'secondSession_'+${conques.joinId}">
                    <option th:selected="${conques.secondSession == 0}" value="0">未参加</option>
                    <option th:selected="${conques.secondSession == 1}" value="1">已参加</option>
                </select>
            </td>
            <td >
                <input type="text" style="width:20px;" th:value="${conques.secondNum}" th:id="'secondNum_'+${conques.joinId}"/>
            </td>
            <td >
                <select name="thirdSession" th:id="'thirdSession_'+${conques.joinId}">
                    <option th:selected="${conques.thirdSession == 0}" value="0">未参加</option>
                    <option th:selected="${conques.thirdSession == 1}" value="1">已参加</option>
                </select>
            </td>
            <td >
                <input type="text" style="width:20px;" th:value="${conques.thirdNum}" th:id="'thirdNum_'+${conques.joinId}"/>
            </td>
            <td >
                <select name="fourthSession" th:id="'fourthSession_'+${conques.joinId}">
                    <option th:selected="${conques.fourthSession == 0}" value="0">未参加</option>
                    <option th:selected="${conques.fourthSession == 1}" value="1">已参加</option>
                </select>
            </td>
            <td >
                <input type="text" style="width:20px;" th:value="${conques.fourthNum}" th:id="'fourthNum_'+${conques.joinId}"/>
            </td>
            <td>
                <input type="text" style="width:20px;" th:value="${conques.score}" th:id="'score_'+${conques.joinId}"/>
            </td>
            <td>
                <p><input type="button" value="保存" th:onclick="'save_conques('+${conques.joinId}+');'" /></p>
            </td>
        </tr>   
        </tbody>
	</table>

</body>
<script type="text/javascript">
var path=$("#path").val();
function save_conques(joinId){
    var firstSession = $("#firstSession_"+joinId).val();
    var firstNum = $("#firstNum_"+joinId).val();
    var secondSession = $("#secondSession_"+joinId).val();
    var secondNum = $("#secondNum_"+joinId).val();
    var thirdSession = $("#thirdSession_"+joinId).val();
    var thirdNum = $("#thirdNum_"+joinId).val();
    var fourthSession = $("#fourthSession_"+joinId).val();
    var fourthNum = $("#fourthNum_"+joinId).val();
    var score = $("#score_"+joinId).val();
    var url = path+"activity/updateConquest"
	$.ajax({
		url:url,
		data:{joinId:joinId,firstSession:firstSession,firstNum:firstNum,secondSession:secondSession,secondNum:secondNum,thirdSession:thirdSession,
            thirdNum:thirdNum,fourthSession:fourthSession,fourthNum:fourthNum,score:score},
		type:"post",
		dataType:"text",
		success:function(data){
			if(data && data == 1){
				alert("更新成功!");
				window.location.reload();
			}
		},
		error:function(){
			alert("系统繁忙,修改失败,请稍后重试!");
		}
	});
}
$(function(){

});
</script>
</html>